.box {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-2 {
  background-color: cadetblue;
}

/* creiamo un'animazione che cambi
il background color dell'elemento */

/* 1) CREAZIONE DELL'ANIMATION */
@keyframes colorAnimation {
  0% {
    background-color: blue;
  }

  100% {
    background-color: red;
  }
}

@keyframes translateAnimation {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(400px);
  }
}

@keyframes startStopButton {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  50% {
    transform: translateX(200px) rotate(45deg);
  }

  100% {
    transform: translateX(600px) rotate(1245deg);
  }
}

/* 2) CREAZIONE DELLA CLASSE CHE CONTIENE L'ANIMATION */

.change-color {
  /* animation: nomeAnimazione durata curvaDiAccelerazione ritardo iteration-count*/
  animation: colorAnimation 3s linear 0s infinite alternate;
}

.change-position {
  animation: translateAnimation 5s ease 0s forwards;
}

/* l'accoppiata infinite (iteration-count) e alternate (animation-direction) permette ad un elemento di ciclare la sua animazione, avanti e indietro, all'infinito */

/* utilizzare forwards invece come animation-fill permette di applicare all'elemento gli stili del 100% dell'animazione una volta che essa si conclude */

.box-button {
  animation: startStopButton 4s linear 0s infinite alternate;
}
